*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:  capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:white;
    box-shadow:  0 5px 10px rgba(0,0,0,.1);
    padding:0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo-pic{
  height: 130px;
  width: 130px;  
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding:20px;
    color:#333;
    display: block;
}

header .navbar ul li a:hover{
    background:#333;
    color: white;
}

header .navbar ul li ul{
    position: absolute;
    left:0;
    width: 200px;
    background: white;
    display: none;
}

header .navbar ul li ul li{
    width:100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li ul li ul{
    left:200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color:#333;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    header{
        padding:20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: white;
        border-top:  1px solid rgba(0,0,0,.1);
        display: none
    }

    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    
    header .navbar ul li ul li{
        background: #eee;
    }

    
    header .navbar ul li ul li ul{
        width:100%;
        left: 0;
    }

    
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
    
}

.home{
    display: flex;
    align-items: center;
    min-height: 70vh;
    background:url(pictures/products.jpg) no-repeat;
    background-color:#f3faff;
    background-position: right;
    margin:0;
    padding-top: 70px;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 3rem;
    color:#333;
}

.home .content span{
    font-size: 2.3rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.4rem;
    color:black;
    padding:1.4rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}



section{
    padding:2rem 9%;
}

.reasons{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    font-size: 1.3rem;
}

.reason{
    padding:1.2rem;
    text-align: center;
    margin: 10px;
}

.reason p{
    font-size: 1.7rem;
}

@media(max-width:800px){
    .reasons{
        display: flex;
        flex-direction: column;
    }
}