*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:  capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:white;
    box-shadow:  0 5px 10px rgba(0,0,0,.1);
    padding:0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo-pic{
  height: 130px;
  width: 130px;  
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding:20px;
    color:#333;
    display: block;
}

header .navbar ul li a:hover{
    background:#333;
    color: white;
}

header .navbar ul li ul{
    position: absolute;
    left:0;
    width: 200px;
    background: white;
    display: none;
}

header .navbar ul li ul li{
    width:100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li ul li ul{
    left:200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color:#333;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    header{
        padding:20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: white;
        border-top:  1px solid rgba(0,0,0,.1);
        display: none
    }

    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    
    header .navbar ul li ul li{
        background: #eee;
    }

    
    header .navbar ul li ul li ul{
        width:100%;
        left: 0;
    }

    
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
    
}

.home{
    display: flex;
    align-items: center;
    min-height: 70vh;
    background:url(pictures/products.jpg) no-repeat;
    background-color:#f3faff;
    background-position: right;
    margin:0;
    padding-top: 70px;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 3rem;
    color:#333;
}

.home .content span{
    font-size: 2.3rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.4rem;
    color:black;
    padding:1.4rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}



section{
    padding:2rem 9%;
}

.reasons{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    font-size: 1.3rem;
}

.reason{
    padding:1.2rem;
    text-align: center;
    margin: 10px;
}

.reason p{
    font-size: 1.7rem;
}

@media(max-width:800px){
    .reasons{
        display: flex;
        flex-direction: column;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  bottom: 0px;
  width: 100%;
  background: #f1fbfe  ;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #00a200  ;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #00a200  ;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background:#00a200 ;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: black;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid whitesmoke;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #1a1a1a ;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: white;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: white  ;
}
.bottom center span{
  color: black;
}
.bottom center a{
  color: #00a200  ;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}